* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

p {
  margin: 10px 0;
  color: #fff;
  text-align: center;
}

nav {
  margin-top: 20px;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}

nav a[href="/login"] {
  background-color: #fff;
  color: #333;
}

nav a[href="/login"]:hover {
  background-color: #333;
  color: #fff;
}

nav a[href="/change-locale/es"] {
  background-color: red;
  color: yellow;
}

nav a[href="/change-locale/es"]:hover {
  background-color: yellow;
  color: red;
}

nav a[href="/change-locale/en"] {
  background-color: blue;
  color: red;
}

nav a[href="/change-locale/en"]:hover {
  background-color: #ff6666;
  color: #000;
}

table.styled-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

table.styled-table th {
  background-color: #333;
  color: #fff;
  padding: 12px;
  text-align: left;
}

table.styled-table td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

table.styled-table td:first-child {
  text-align: center;
}

table.styled-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table.styled-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

footer p {
  margin: 0;
}

table.styled-table img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
